<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Namn</th>
      <th>Vinster</th>
      <th>Förluster</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.wins }}</td>
        <td>{{ player.losses }}</td>
        <td>{{ player.rating|round|int }}
          {% if player.latest_rating_change < 0 %}
          <span class="has-text-danger is-size-7">{{ player.latest_rating_change|round|int }}</span>
          {% elif player.latest_rating_change > 0 %}
          <span class="has-text-success is-size-7">+{{ player.latest_rating_change|round|int }}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>