<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Namn</th>
      <th class="has-text-centered">Vinster</th>
      <th class="has-text-centered">Förluster</th>
      <th class="has-text-centered">Vinster</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
      <tr data-href="{{ url_for('player_detail', player_slug=player.slug) }}">
        <td>{{ loop.index }}</td>
        <td>{{ player.name }}</a></td>
        <td class="has-text-centered">{{ player.wins }}</td>
        <td class="has-text-centered">{{ player.losses }}</td>
        <td class="has-text-centered">{{ player.win_ratio() }}%</td>
        <td>
          {% if player in latest_players %}
            {{ player.rating|round|int }}
            {% if player.latest_rating_change < 0 %}
            <span class="has-text-danger is-size-7">{{ player.latest_rating_change|round|int }}</span>
            {% elif player.latest_rating_change > 0 %}
            <span class="has-text-success is-size-7">+{{ player.latest_rating_change|round|int }}</span>
            {% endif %}
          {% else %}
            {{ player.rating|round|int }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>