.navbar {
    height: 80px;
  }

.player-select-1 select,
.player-select-2 select {
  width: 20rem;
  }

.alert {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert.hide {
  opacity: 0;
  transition-delay: 3s;
}

.fa-xmark {
  color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #888;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

table.is-fullwidth tbody tr td {
  font-size: 18px;
  padding: 10px;
}

table.is-fullwidth thead th {
  font-size: 18px;
}

.table2 tbody td {
  font-size: 16px;
}

.stor-text {
  font-size: 1.2em;
}

.ej-fet {
  font-weight: normal;
}