<nav class="navbar" role="navigation" x-data="{ isOpen: false }" @click.away="isOpen = false">
  <div class="navbar-brand ml-5">
    <a class="navbar-item" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='/img/esem_logo.png') }}">
    <div class="navbar-item has-text-centered">
      <p class="title">Kvitten Open</p>
    </div>
    </a>
    <a role="button" class="navbar-burger" :class="{ 'is-active': isOpen }" @click="isOpen = !isOpen">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" :class="{ 'is-active': isOpen }">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if request.path == url_for('index') %}
          <a class="button is-primary" 
            href="/registrera"
            hx-get="/spelare"
            hx-trigger="click"
            hx-target="#matchModal"
            hx-swap="innerHTML">
            <strong>Registrera match</strong>
          </a>          
          <a class="button is-link"
            href="{{ url_for('get_results') }}" >
            <strong>Alla resultat</strong>
          </a>          
          <a class="button is-warning" 
            href="/ny_spelare"
            hx-get="/ny_spelare"
            hx-trigger="click"
            hx-target="#playerModal"
            hx-swap="innerHTML">
            <strong>Ny spelare</strong>
          </a>
          <a class="button is-dark">
            Regler & info
          </a>
          {% endif %}
          {% if player %}
          <a class="button is-link"
            href="{{ url_for('index') }}" >
          <strong>Tillbaka</strong>
          </a> 
          <form action="{{ url_for('deactivate_player', player_slug=player.slug) }}" 
            method="post"
            onsubmit="return confirm('OBS! En inaktiverad spelare kan aldrig läggas till igen!\n\nÄr du säker på att du vill inaktivera {{ player.name }}?')">
            <button type="submit" class="button is-danger">
              <strong>Inaktivera</strong>
            </button>
          </form>          
          {% endif %}
          {% if request.path == url_for('get_results') %}
          <a class="button is-link"
            href="{{ url_for('index') }}" >
          <strong>Tillbaka</strong>
          </a> 
          <form action="{{ url_for('reset_results') }}" 
            method="post"
            onsubmit="return confirm('VARNING!\n\nDu är på väg att nollställa databasen. Alla resultat raderas och alla spelare får sin rating nollställd.\n\nÄr du verkligen säker?')">
            <button type="submit" class="button is-danger">
              <strong>Nollställ</strong>
            </button>
          </form>          
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="matchModal"></div>
<div id="playerModal"></div>