{% extends "base.html" %}
{% block content %}
{% if players %}
<div class="columns">
  <div class="column box is-8">
    {% include 'partials/_players.html' %}
  </div>
  <div class="column">
    <div class="is-pulled-right">
      {% include 'partials/_results.html' %}
      <button class="button is-primary ml-3"
      hx-get="/get_players"
      hx-trigger="click"
      hx-target="#matchModal"
      hx-swap="innerHTML">
      <strong>Registrera match</strong>
      </button>
      <div class="mt-3 ml-2">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert">
          <ul>
            {% for message in messages %}
              <li class="has-text-danger has-text-weight-bold ml-2">{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
<div id="matchModal"></div>
{% else %}
<p class="title is-4">Det finns inga spelare tillagda</p>
{% endif %}
{% endblock %}