{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column is-12">
    <article class="message is-info">
      <div class="message-header">
        <p>Regler</p><span class="icon"><i class="fas fa-info"></i></span>
      </div>
      <div class="message-body">
        <p class="title is-5 has-text-info">Grunden är internationella regler enligt ITTF <em>International Table Tennis Federation</em> med några få undantag:</p>
        <p>1. Varje match består av ett (1) set där den som först når 11 poäng vinner. Vinnaren måste dock vinna med två poäng.</p>
        <p>2. Matchen startar när båda är med på det. Det duger inte att slå in en boll och säga <em>"Vi körde nu va? Ett-noll till mig lol"</em></p>
        <p>3. Den som känner för det är den som servar, men det är hyggligt att låta den andre serva också. Det skall observeras att den som har matchboll <strong><em>inte</em></strong> får serva, för att ge den andre lite hopp.</p>
        <p>4. En boll som går i taket eller väggen och in räknas. Dock bör man inte spela på det med flit, för att undvika att framstå som aslöjlig.</p>
        <p>5. Det är ok att smasha, men med tanke på utrymmesbrist så är det större ära och berömmelse i att vinna på teknik och bort-fintar.</p>
        <p>6. Man får inte hitta på regler under matchens gång, bara för att <em>"vi alltid körde så i högstadiet"</em></p>
      </div>
    </article>
    <article class="message is-dark">
      <div class="message-header">
        <p>Elo-rating</p><span class="icon"><i class="fas fa-scale-balanced"></i></span>
      </div>
      <div class="message-body">
        <p>Elo-rating är ett system för att rangordna spelare eller lag baserat på deras prestationer i matcher. Det används vanligtvis i spel som schack, tennis och esport. Elo-ratingen är en siffra som representerar spelarens skicklighet och beräknas utifrån resultaten i tidigare matcher och motståndarens Elo-rating.</p><br>
        <p><strong>För att beräkna Elo-ratingen i denna app används följande faktorer:</strong></p><br>
        <p><strong>1. K-faktor: </strong>En parameter som avgör hur mycket Elo-ratingen ändras efter en match. Ju högre K-faktorn är, desto större blir ratingförändringen. I koden används olika K-faktorer beroende på antalet matcher som spelaren har spelat.</p><br>
        <p><strong>2. Förväntat resultat: </strong>Beräknas utifrån skillnaden mellan spelarnas Elo-ratingar. Ju högre rating skillnaden är, desto större är skillnaden i förväntade poäng. En spelare som förväntas förlora kommer att få fler Elo-poäng om hen vinner än en spelare som förväntas vinna.</p><br>
        <p><strong>3. Poängdiff: </strong>Skillnaden i poäng mellan vinnaren och förloraren i matchen.</p><br>
        <p><strong>4. Score factor: </strong>En parameter som avgör hur mycket Elo-ratingen ska ändras beroende på poängdiffen.</p><br>
        <p>Efter varje match uppdateras spelarnas Elo-rating baserat på ovanstående faktorer. Om en spelare vinner mot en högt rankad motståndare får hen fler Elo-poäng än om hen vinner mot en lågt rankad motståndare. På samma sätt får en spelare som förlorar mot en lågt rankad motståndare fler Elo-poäng än om hen förlorar mot en högt rankad motståndare. Ju fler matcher en spelare spelar, desto svårare blir det att höja ratingen, eftersom ratingen alltmer speglar spelarens verkliga förmåga.</p><br>
        <p><em>Beräkningen av ny rating efter varje match sker enligt följande:</em></p>
        <pre><code>## Beräkning av förväntat resultat:<br>player1_expected = 1 / (1 + 10 ** ((player2.rating - player1.rating) / 400))<br>player2_expected = 1 - player1_expected
        </code></pre>
      </div>
    </article>
    <article class="message is-warning">
      <div class="message-header">
        <p>Databasen</p><span class="icon"><i class="fas fa-triangle-exclamation"></i></span>
      </div>
      <div class="message-body">
        <p>Det är möjligt att radera en match ur databasen, innifrån sidan "Alla resultat". Då tas den bort från resultatlistorna och de båda deltagarnas statistik. Men, det skall observeras att rating-poängen som genererades av den matchen <strong>ej backas</strong> för de deltagande spelarna.</p><br>
        <p>Det går från spelarens detaljvy sätta denne som inaktiv. En inaktiv spelare syns inte i rankingen och kan inte registreras för nya resultat. Det är inte heller möjligt att registrera en ny spelare med samma namn som den inaktiverade.</p><br>
        <p>Innifrån sidan "Alla resultat" finns det även en knapp för att nollställa databasen. Den bör användas sparsamt, då alla resultat, all historik och all rating för alla spelare nollställs. Det enda som sparas är själva spelaren. Dock så raderas spelare som är satta som inaktiva.</p>
      </div>
    </article>
  </div>  
</div>
{% endblock %}


