{% extends "base.html" %}
{% block content %}
<h1 class="title is-2">{{ player.name }}</h1>
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><span class="icon"><i class="fas fa-ranking-star fa-xs"></i></span> Rank</p>
        <p class="subtitle is-5">{{ player.rank() }}</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><span class="icon"><i class="fas fa-star fa-xs"></i></span> Rating</p>
        <p class="subtitle is-5">{{ player.rating|round|int }}
        {% if player.latest_rating_change < 0 %}
            <span class="has-text-danger is-size-6">{{ player.latest_rating_change|round|int }}</span>
            {% elif player.latest_rating_change > 0 %}
            <span class="has-text-success is-size-6">+{{ player.latest_rating_change|round|int }}</span>
            {% endif %}
          </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><span class="icon"><i class="fas fa-arrow-trend-up fa-xs"></i></span> Vinster</p>
        <p class="subtitle is-5">{{ player.wins }}</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><span class="icon"><i class="fas fa-arrow-trend-down fa-xs"></i></span> Förluster</p>
        <p class="subtitle is-5">{{ player.losses }}</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4"><span class="icon"><i class="fas fa-percent fa-xs"></i></span> Vinstratio</p>
        <p class="subtitle is-5">{{ player.win_ratio() }}%</p>
      </div>
    </div>
  </div>
</div>
<div class="is-divider" style="width: 100%; height: 30px;"></div>
<canvas id="ratingChart" style="width: 100%; height: 300px;"></canvas>
<div class="columns mt-5">
  <div class="column">
    <div class="card">
      <div class="card-content columns">
        <div class="column">
          <p class="title is-4">Fönstersida</p>
          <p class="stor-text">Antal vinster: {{ player1_wins }}</p>
          <p class="stor-text">Antal förluster: {{ player1_losses }}</p>          
        </div>
        <div class="column">
          <p class="title is-4">Vinstratio</p>
          <p class="title is-4 ej-fet">{{ (player1_wr * 100)|round|int }}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content columns">
        <div class="column">
          <p class="title is-4">Väggsida</p>
          <p class="stor-text">Antal vinster: {{ player2_wins }}</p>
          <p class="stor-text">Antal förluster: {{ player2_losses }}</p>          
        </div>
        <div class="column">
          <p class="title is-4">Vinstratio</p>
          <p class="title is-4 ej-fet">{{ (player2_wr * 100)|round|int }}%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var ctx = document.getElementById('ratingChart').getContext('2d');
  var rating_history = JSON.parse('{{ rating_history_json|safe }}');
  var dates = [];
  var ratings = [];

  for (var i = 0; i < rating_history.length; i++) {
    var date_created = new Date(rating_history[i].date_created);
    var formatted_date = date_created.getFullYear() + '-' + (date_created.getMonth() + 1).toString().padStart(2, '0') + '-' + date_created.getDate().toString().padStart(2, '0');
    dates.push(formatted_date);
    ratings.push(rating_history[i].rating);
  }

  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: 'Rating',
        data: ratings,
        backgroundColor: '#209cee',
        borderColor: '#3273dc',
        borderWidth: 2,
        tension: 0.3
      }]
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: false
        },
        legend: {
          display: true,
          labels: {
            font: {
              size: 16,
              weight: 'bold'
            }
          }
        }
      },
      scales: {
        x: {
          ticks: {
            font: {
              size: 14,
              weight: 'bold'
            }
          }
        },
        y: {
          ticks: {
            beginAtZero: true,
            font: {
              size: 14,
              weight: 'bold'
            }
          }
        }
      }
    }
  });
</script>
{% endblock %}